<div class="container-fluid demi-pc2 grungecircles hidden-xs hidden-sm">
	<div class="container">
		<div class="col-md-12">
			<a id="grungecircle1" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170" href="#/features"><img src="/images/highlights/features.png"></a>
			<a id="grungecircle2" class="hitter" data-scrolltarget="grungecircle2" data-scrolloffsett="170" href="#/fastsignup"><img src="/images/highlights/7secondssignup.png"></a>
			<a id="grungecircle3" class="hitter" data-scrolltarget="grungecircle3" data-scrolloffsett="170" href="#/easyscheduling"><img src="/images/highlights/easyscheduling.png"></a>
			<a id="grungecircle4" class="hitter" data-scrolltarget="grungecircle4" data-scrolloffsett="170" href="#/demo"><img src="/images/highlights/demo.png"></a>
		</div>
	</div>
</div>

<div class="container-fluid hidden-md hidden-lg nohpadding intro-xs">
	<div class="container nohpadding">
		<div class="col-xs-12 nohpadding">
			<img class="img-responsive" src="/images/heroimg-xs.jpg">
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="container">
		<div class="col-md-12 contenttxt">
			<h1>Questions and answers</h1>
			<p>Here you find common questions (more later) and their answers.<br />
				Drop us an e-mail at <a onfocus="this.blur();" href="mailto:info@workouttraxx.com">info@workouttraxx.com</a> if you have additional questions.</p>
		</div>
		<div class="col-md-6 contenttxt">
			<h2>Box members</h2>
			<div id="accordion1">
				<h3>Where do i signup for a workout?</h3>
				<div>
					<p>When you are registered at workouttraxx you can signup for a workout at: <a href="https://app.workouttraxx.com">https://app.workouttraxx.com</a>.</p>
				</div>
				<h3>Where and how can i register with WorkoutTraxx for my box?</h3>
				<div>
					<p>Two options::
						<ol>
							<li>Use your Facebook account:<br />
								Go to <a href="https://app.workouttraxx.com">https://app.workouttraxx.com</a> (or <a href="http://signup.training">http://signup.training</a>), click the 'Register-button' and choose 'Login with Facebook'. You will see a pop-up screen. Please fill this out and click 'OK'.<br />Your box will approve your subscribtion but you can use Workouttraxx immediately.
							</li>
							<li>Go to <a href="http://signup.training">http://signup.training</a>, click the  'Register-button'. Fill out the form and klik 'Create account'.</li>
						</ol><p>Your box will approve your subscribtion but you can use Workouttraxx immediately.</p>

					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 contenttxt">
			<h2>Box owners</h2>
			<div id="accordion2">
				<h3>What about the pricing?</h3>
				<div>
					<p>A monthly subscribtion costs $50. There are no additional costs.</p>
				</div>
				<h3>Which payment options do you provide?</h3>
				<div>
					<p>Currently we only accept <a href="https://www.paypal.com/webapps/mpp/home" target="_blank">PayPal</a> for automatic monthly payment. No PayPal account yet? <a href="https://www.paypal.com/webapps/mpp/home" target="_blank">Get it here</a>.
				</div>
				<h3>Is there a member limit for my box</h3>
				<div>
					<p>No, there is no limit and you won't pay more if you get more members</p>
				</div>
				<h3>Which languages are supported?</h3>
				<div>
					<p>WorkoutTraxx currently supports English and Dutch</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid social-showme-container">
	<div class="container">
		<div class="col-md-12">
			<div class="social-showme">
				<div class="shareicons">
					<div class="sharethanx">Share? Thank you!</div>
					<div class="icons">
						<span class='st_sharethis_large' displayText='ShareThis'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_linkedin_large' displayText='LinkedIn'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_pinterest_large' displayText='Pinterest'></span>
						<span class='st_email_large' displayText='Email'></span></div>
				</div>
				<!--<a class="showme hitter hidden-xs hidden-sm" data-scrolltarget="phone" data-scrolloffsett="120" href="">Let's see</a>-->

			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="container">
		<div class="col-md-8">
			<div id="footerbuttons" class="footerbuttons hidden-xs hidden-sm">
				<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
				<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
			</div>
		</div>
	</div>
</div>


<div class="footerbuttons footerbuttons-xs visible-xs visible-sm">
	<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
	<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
</div>
<div class="container-fluid extrascrollspace hidden-xs hidden-sm"></div>
<script>
	$(function() {
		$( "#accordion1,#accordion2" ).accordion({
			active: false,
			heightStyle: "content",
			collapsible: true
		});
	});

	if($('.topnav-xs').is(':visible')) {
		$('.intro-xs').css({
			"margin-top":topnavxsHeight
		})
		// do some stuff
	}


</script>
