<div class="container-fluid demi-pc2 grungecircles hidden-xs hidden-sm">
	<div class="container">
		<div class="col-md-12">
			<a id="grungecircle1" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170" href="#/features"><img src="/images/highlights/features.png"></a>
			<a id="grungecircle2" class="hitter" data-scrolltarget="grungecircle2" data-scrolloffsett="170" href="#/fastsignup"><img src="/images/highlights/7secondssignup.png"></a>
			<a id="grungecircle3" class="hitter" data-scrolltarget="grungecircle3" data-scrolloffsett="170" href="#/easyscheduling"><img src="/images/highlights/easyscheduling.png"></a>
			<a id="grungecircle4" class="hitter" data-scrolltarget="grungecircle4" data-scrolloffsett="170" href="#/demo"><img src="/images/highlights/demo.png"></a>
		</div>
	</div>
</div>
<div class="container-fluid hidden-md hidden-lg nohpadding intro-xs">
	<div class="container nohpadding">
		<div class="col-xs-12 nohpadding">
			<img class="img-responsive" src="/images/heroimg-xs.jpg">
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="container nohpadding">
		<div class="row">
			<div class="col-md-7 contenttxt">
				<div>
					<h1>Sign up solution for your crossfit box</h1>
					<p>Excite your members with the easiest way to sign up for a workout using phone, tablet or desktop.</p>
					<h2>Key benefits for your box:</h2>
					<ul>
						<li>Easy scheduling and re-use previous week-schedules</li>
						<li>Keep track on the number of attendees for each workout. Changes in the list will be instantly available</li>
						<li>Reduce member disappointments. You can define a attendee-limit so when your member is signed up for a lesson his spot will always be available.</li>
						<li>Maximize the number of attendees to a workout with our build in waiting list.</li>
						<li>Generate more activity. Members will see all your lessons so newly added lessons will be attended faster.</li>
						<li>Get more profit with the build in credit system. Some people just don’t want a gym membership. Let them buy credits to attend your workouts.</li>
						<li>Self-registration. Members can register for free. You only need to approve new registrations</li>
						<li>No complicated or overwelming functionality. It's a sign up-application with simplicity in mind.</li>
					</ul>
					<h2>Key benefits for your members:</h2>
					<ul>
						<li>It’s free</li>
						<li>Sign up any time at any convenience by phone, tablet or desktop computer. Sign-out is just that simple</li>
						<li>Easy login with a registered account or with a Facebook account</li>
						<li>Get some additional information about a specific workout when provided by the box</li>
						<li>Reassurance: no more overbooked workouts</li>
						<li>Keep track of your results</li>
					</ul>
				</div>
			</div>
			<div id="phone" class="col-md-4 offset1  hidden-xs hidden-sm">
				<img  src="/images/phone1.png">
			</div>
		</div>
	</div>
</div>
<div class="container-fluid social-showme">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="shareicons">
					<div class="sharethanx">Share? Thank you!</div>
					<div class="icons">
						<span class='st_sharethis_large' displayText='ShareThis'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_linkedin_large' displayText='LinkedIn'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_pinterest_large' displayText='Pinterest'></span>
						<span class='st_email_large' displayText='Email'></span></div>
				</div>
			</div>
			<div class="col-md-6 showme">
				<a href="/#/video">Video's</a>
			</div>
		</div>
		<div class="row">
			<div id="footerbuttons" class="col-md-12 footerbuttons hidden-xs hidden-sm">
				<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
				<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
			</div>
		</div>
	</div>
</div>

<div class="footerbuttons footerbuttons-xs visible-xs visible-sm">
	<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
	<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
</div>
<div class="container-fluid extrascrollspace hidden-xs hidden-sm"></div>
<script>
	if($('.topnav-xs').is(':visible')) {
		$('.intro-xs').css({
			"margin-top":topnavxsHeight
		})
		// do some stuff
	}
</script>
