<div class="container-fluid demi-pc2 grungecircles hidden-xs hidden-sm">
	<div class="container">
		<div class="col-md-12">
			<a id="grungecircle1" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170" href="#/features"><img src="/images/highlights/features.png"></a>
			<a id="grungecircle2" class="hitter" data-scrolltarget="grungecircle2" data-scrolloffsett="170" href="#/fastsignup"><img src="/images/highlights/7secondssignup.png"></a>
			<a id="grungecircle3" class="hitter" data-scrolltarget="grungecircle3" data-scrolloffsett="170" href="#/easyscheduling"><img src="/images/highlights/easyscheduling.png"></a>
			<a id="grungecircle4" class="hitter" data-scrolltarget="grungecircle4" data-scrolloffsett="170" href="#/demo"><img src="/images/highlights/demo.png"></a>
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="container nohpadding">
		<div class="row">
			<div class="col-md-12 contenttxt">
				<h1>Video</h1>
				<div class="col-md-6 video">
					<iframe src="https://player.vimeo.com/video/135173035" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="col-md-6 video">
					<iframe src="https://player.vimeo.com/video/135176026" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="col-md-6 video">
					<iframe src="https://player.vimeo.com/video/135188125" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="col-md-6 video">
					<iframe src="https://player.vimeo.com/video/135178361" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="col-md-6 video">
					<iframe src="https://player.vimeo.com/video/145744736" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="container-fluid social-showme">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-6 showme">
				<a class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170" href="/#/demo">Get demo-account</a>
			</div>
		</div>
		<div class="row">
			<div id="footerbuttons" class="col-md-12 footerbuttons hidden-xs hidden-sm">
				<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
				<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
			</div>
		</div>
	</div>
</div>

<div class="footerbuttons footerbuttons-xs visible-xs visible-sm">
	<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
	<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
</div>
<div class="container-fluid extrascrollspace hidden-xs hidden-sm"></div>
<script>
	if($('.topnav-xs').is(':visible')) {
		$('.intro-xs').css({
			"margin-top":topnavxsHeight
		})
		// do some stuff
	}

	$.smoothScroll({
		scrollTarget: '#grungecircle1'
	});
</script>



