<script>
	$('.row1 .item').matchHeight();
	$('.row2 .item').matchHeight();
	$('.row3 .item').matchHeight();
	$('.row4 .item').matchHeight();
</script>

<div class="container-fluid demi-pc2 grungecircles hidden-xs hidden-sm">
	<div class="container">
		<div class="col-md-12">
			<a id="grungecircle1" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170" href="#/features"><img src="/images/highlights/features.png"></a>
			<a id="grungecircle2" class="hitter" data-scrolltarget="grungecircle2" data-scrolloffsett="170" href="#/fastsignup"><img src="/images/highlights/7secondssignup.png"></a>
			<a id="grungecircle3" class="hitter" data-scrolltarget="grungecircle3" data-scrolloffsett="170" href="#/easyscheduling"><img src="/images/highlights/easyscheduling.png"></a>
			<a id="grungecircle4" class="hitter" data-scrolltarget="grungecircle4" data-scrolloffsett="170" href="#/demo"><img src="/images/highlights/demo.png"></a>
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="container nohpadding">
		<div class="row">
			<div class="col-md-12">
				<h1>Features</h1>
				<p>Workouttraxx helps you getting maximal results out of your box. Take a look at the listed features below, and see how this helps your box. Workouttraxx is being improved continuously and new features are being added all the time. Keep up to date about new features on our <a onfocus="this.blur();" href="https://www.facebook.com/workouttraxx" target="_blank" style="color: White;">Facebook page</a>.</p>
			</div>
		</div>
		<div class="row feature-row row1">
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Clear week schedule</div>
					<div class="featurethumb">
						<a href="/images/screenshots/planner.png" class="media html5lightbox" title="Clear week schedule"><img class="img-responsive" src="/images/screenshots/planner-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>A clear workout schedule shows all available workouts. For each workout the number of free spots and list of signed in members are shown.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Ranking <span class="nieuw">(new: 14-11-2015)</span></div>
					<div class="featurethumb">
						<a href="/images/screenshots/ranking.png" class="media html5lightbox" title="Ranking"><img class="img-responsive" src="/images/screenshots/ranking-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Your athletes can track their own training results, and compare results with other members in the box. This keeps members excited about their progress, and increases the sense of community.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">See who is signed in</div>
					<div class="featurethumb">
						<a href="/images/screenshots/ingeschreven.png" class="media html5lightbox" title="Zie wie is ingeschreven"><img class="img-responsive" src="/images/screenshots/ingeschreven-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>For each workout <strong>members can see which other members are already signed in</strong>. Seeing your friends signed in to a workout is a great stimulation to join a workout as well.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row feature-row row2">
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Extra admin-accounts</div>
					<div class="featurethumb">
						<a href="/images/screenshots/extraadminaccounts.png" class="media html5lightbox" title="Extra admin-accounts"><img class="img-responsive" src="/images/screenshots/extraadminaccounts-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>If you have multiple instructors in your box, they can all manage their own workouts in Workouttraxx.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Easily create the weekly schedule</div>
					<div class="featurethumb">
						<a href="/images/screenshots/planning-opstellen.png" class="media html5lightbox" title="Easily create the weekly schedule"><img class="img-responsive" src="/images/screenshots/planning-opstellen-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Workouttraxx is designed to make it trivial to create a workout schedule. <strong>Schedules can be re-used for future weeks</strong>, and special events can easily be added to the the schedule.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Avoid over booked workouts</div>
					<div class="featurethumb">
						<a href="/images/screenshots/voorkom-overboekingen.png" class="media html5lightbox" title="Avoid over booked workouts"><img class="img-responsive" src="/images/screenshots/voorkom-overboekingen-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Quality of the workouts is your top priority. <strong>Avoid over booked, crowded workouts by setting a maximum number of attendees for a workout</strong>. The clear overview for members and the <strong>built-in waiting list</strong> helps getting an optimal attendance for each workout.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row feature-row row3">
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Increase revenue with credits</div>
					<div class="featurethumb">
						<a href="/images/screenshots/credits.png" class="media html5lightbox" title="Increase revenue with credits"><img class="img-responsive" src="/images/screenshots/credits-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Some members don't like fixed contracts? <string>Increase your revenue by using the built-in credit system</string>. Members can buy credits and spent them on workouts. This makes your box an option for those who would otherwise look elsewhere, without the extra administration huzzle.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Login with Facebook account</div>
					<div class="featurethumb">
						<a href="/images/screenshots/inloggen-facebook.png" class="media html5lightbox" title="Login with Facebook account"><img class="img-responsive" src="/images/screenshots/inloggen-facebook-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Sign up couldn't be simpler. Members can use their Facebook account to sign in for workouts. Of course this is completely optional.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">WOD showing everyday to members</div>
					<div class="featurethumb">
						<a href="/images/screenshots/wod-beschrijving.png" class="media html5lightbox" title="WOD showing everyday to members"><img class="img-responsive" src="/images/screenshots/wod-beschrijving-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Your members immediately see the WOD description every day. This keeps them engaged even when not training that day.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row feature-row row4">
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">‘Whiteboard’ and WOD Search</div>
					<div class="featurethumb">
						<a href="/images/screenshots/whiteboard-wod.png" class="media html5lightbox" title="Whiteboard and WOD-search"><img class="img-responsive" src="/images/screenshots/whiteboard-wod-thumb.png"></a>
					</div>
					<div class="featuretxt">

						<p>The whiteboard is important in most CrossFit boxes to keep members engaged. A photo of the whiteboard can easily be uploaded to Workouttraxx, and members can even search for specific exercises to find their old scores on the whiteboard.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">‘Whiteboard’ on Facebook</span></div>
					<div class="featurethumb">
						<a href="/images/screenshots/whiteboard-naar-facebook.png" class="media html5lightbox" title="Whiteboard naar Facebook"><img class="img-responsive" src="/images/screenshots/whiteboard-naar-facebook-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Many CrossFit boxes also offer a Facebook page to their members. Workouttraxx integrates with Facebook pages to increase the feeling of community within your box. For example the whiteboard photos can easily be shared.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 feature">
				<div class="item">
					<div class="featuretitle">Minimum number of attendees</div>
					<div class="featurethumb">
						<a href="/images/screenshots/minimale-bezetting.png" class="media html5lightbox" title="Minimum number of attendees"><img class="img-responsive" src="/images/screenshots/minimale-bezetting-thumb.png"></a>
					</div>
					<div class="featuretxt">
						<p>Those early morning lessons aren't always popular. Avoid empty lessons by automatically canceling workout when there are not enough members signed in.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid social-showme">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="shareicons">
					<div class="sharethanx">Delen? Graag!</div>
					<div class="icons">
						<span class='st_sharethis_large' displayText='ShareThis'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_linkedin_large' displayText='LinkedIn'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_pinterest_large' displayText='Pinterest'></span>
						<span class='st_email_large' displayText='Email'></span></div>
				</div>
			</div>
			<div class="col-md-6 showme">
				<a href="/#/video">Videos</a>
			</div>
		</div>
		<div class="row">
			<div id="footerbuttons" class="col-md-12 footerbuttons hidden-xs hidden-sm">
				<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
				<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
			</div>
		</div>
	</div>
</div>
<div class="footerbuttons footerbuttons-xs visible-xs visible-sm">
	<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
	<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
</div>
<div class="container-fluid extrascrollspace hidden-xs hidden-sm"></div>

<script>
	if($('.topnav-xs').is(':visible')) {
		$('.intro-xs').css({
			"margin-top":topnavxsHeight
		})
		// do some stuff
	}
		$.ajax({
		dataType: 'script',
		url: '/js/videolightbox.js',
		crossDomain:true,
		success: function(response)
		{
			//Whatever
		}
	});
	$('.row1 .item').matchHeight();
	$('.row2 .item').matchHeight();
	$('.row3 .item').matchHeight();
	$('.row4 .item').matchHeight();
</script>
