<div class="container-fluid demi-pc2 grungecircles hidden-xs hidden-sm">
	<div class="container">
		<div class="col-md-12">
			<a id="grungecircle1" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170" href="#/features"><img src="/images/highlights/features.png"></a>
			<a id="grungecircle2" class="hitter" data-scrolltarget="grungecircle2" data-scrolloffsett="170" href="#/fastsignup"><img src="/images/highlights/7secondssignup.png"></a>
			<a id="grungecircle3" class="hitter" data-scrolltarget="grungecircle3" data-scrolloffsett="170" href="#/easyscheduling"><img src="/images/highlights/easyscheduling.png"></a>
			<a id="grungecircle4" class="hitter" data-scrolltarget="grungecircle4" data-scrolloffsett="170" href="#/demo"><img src="/images/highlights/demo.png"></a>
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="container">
		<div class="col-md-12 contenttxt">
			<div>
				<h1>Demo account</h1>
				<p class="col-md-8 nohpadding">
					Discover how easy Workouttraxx will support your box. Get a free demo-account with full access as a gym owner. Experience all the functionalities in a demo-environment ready filled with members and schedules.
				<form class="profForm" action="http://www.mailform.eu/form/formmail.php" method="post" name="contact"><input type="hidden" name="recipients" value="info@workouttraxx.com" /><input type="hidden" name="subject" value="Aanvraag demo-account vanaf workouttraxx.com - nl" /> <input type="hidden" name="mail_options" value="Exclude=email;realname" /> <input type="hidden" name="email" value="webformulier@workouttraxx.com" /> <input type="hidden" name="good_url" value="https://nl.workouttraxx.com/#/bedankt" />
					<div class="form-container">
						<h2>Get me a demo-account</h2>
						<span class="required">* required</span>
						<div class="form-wrapper"><span>Name of your box<em class="star">*</em></span> <input type="text" name="sportschool" required /></div>
						<div class="form-wrapper"><span>Your name<em class="star">*</em></span> <input type="text" name="naam" required /></div>
						<div class="form-wrapper"><span>Email address<em class="star">*</em></span> <input type="text" name="e-mailadres" required /></div>
						<div class="form-wrapper"><span>Remarks</span> <textarea class="textarea-right" name="opmerkingen_aanvrager"></textarea></div>
					</div>
					<hr class="between" />
					<input class="formulierSubmitButton" type="submit" value="Submit" />
					<br /><br />
				</form>
			<div style="clear:both;"></div>
			</div>

			<div class="social-showme">
				<div class="shareicons">
					<div class="sharethanx">Share? Thank you!</div>
					<div class="icons">
						<span class='st_sharethis_large' displayText='ShareThis'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_linkedin_large' displayText='LinkedIn'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_pinterest_large' displayText='Pinterest'></span>
						<span class='st_email_large' displayText='Email'></span></div>
				</div>
				<a class="showme hidden-xs hidden-sm" href="https://workouttraxx.com/ui/index.html#/affiliation-signup"></a>
			</div>
			<div id="footerbuttons" class="footerbuttons  hidden-xs hidden-sm">
				<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
				<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
			</div>
		</div>
	</div>
</div>
<div class="footerbuttons footerbuttons-xs visible-xs visible-sm">
	<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
	<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
</div>
<div class="container-fluid extrascrollspace hidden-xs hidden-sm"></div>
<script>
	// set grijze balk achter Showme knop
	var p = $( "div.social-showme" );
	var position = p.position();
	var imageposition = (1000 - position.top);
	$('.content').css({
		"background-position": "left -"+imageposition+"px"
	})
</script>
