<div class="container-fluid demi-pc2 grungecircles hidden-xs hidden-sm">
	<div class="container">
		<div class="col-md-12">
			<a id="grungecircle1" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170" href="#/features"><img src="/images/highlights/features.png"></a>
			<a id="grungecircle2" class="hitter" data-scrolltarget="grungecircle2" data-scrolloffsett="170" href="#/fastsignup"><img src="/images/highlights/7secondssignup.png"></a>
			<a id="grungecircle3" class="hitter" data-scrolltarget="grungecircle3" data-scrolloffsett="170" href="#/easyscheduling"><img src="/images/highlights/easyscheduling.png"></a>
			<a id="grungecircle4" class="hitter" data-scrolltarget="grungecircle4" data-scrolloffsett="170" href="#/demo"><img src="/images/highlights/demo.png"></a>
		</div>
	</div>
</div>
<div class="container-fluid content">
	<div class="container">
		<div class="col-md-8 contenttxt">
			<div>
				<h1>Thank you</h1>
				<p>We will prepare a demo-account for you. You will receive your login-credentials within 24 hours but probably sooner. Please contact us if you have additional questions. <br /><br />

				With regards,<br />
				Workouttraxx<br />

			<div style="clear:both;"></div>
			</div>

			<div class="social-showme">
				<div class="shareicons">
					<div class="sharethanx">Share? Thank you!</div>
					<div class="icons">
						<span class='st_sharethis_large' displayText='ShareThis'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_linkedin_large' displayText='LinkedIn'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_pinterest_large' displayText='Pinterest'></span>
						<span class='st_email_large' displayText='Email'></span></div>
				</div>

			</div>
			<div id="footerbuttons" class="footerbuttons  hidden-xs hidden-sm">
				<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
				<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
			</div>
		</div>
	</div>
</div>
<div class="footerbuttons footerbuttons-xs visible-xs visible-sm">
	<a href="#/faq" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">FAQ</a>
	<a href="#/contact" class="hitter" data-scrolltarget="grungecircle1" data-scrolloffsett="170">CONTACT</a>
</div>
<div class="container-fluid extrascrollspace hidden-xs hidden-sm"></div>
<script>
	// set grijze balk achter Showme knop
	var p = $( "div.social-showme" );
	var position = p.position();
	var imageposition = (1000 - position.top);
	$('.content').css({
		"background-position": "left -"+imageposition+"px"
	})
</script>
